# Lambda Functions
1. No return value.
2. Whole function is returned.
3. Written in only 1 line.
4. Not used for code reusability.
5. No name

# Why
1. Along with higher order functions.

In [1]:
#lambda input:expression
x = lambda x:x**2
x(9)

81

In [2]:
z = lambda x,y:x+y
z(4,5)

9

In [5]:
z = lambda x:x[0]=='a'
z('banana')

False

In [3]:
b = lambda x:"Even" if x%2==0 else "False"
b(3)
b(2)

'Even'

# Higher Order Functions
1. Higher order functions are those function which need another function as input to work. Or a function returning another function is also called as HOF.
2. HOF can vary behaviour based on the function passed as input to it.

In [6]:
x = lambda x:x%2==0
y = lambda x:x%2!=0
z = lambda z:z%3==0

In [10]:
lst = [11,14,21,23,56,78,45,29,28]

In [8]:
def return_sum(func, L):
  result = 0

  for i in L:
    if func(i):
      result = result+i

  return result

In [11]:
print(return_sum(x,lst))
print(return_sum(y,lst))
print(return_sum(z,lst))

176
129
144

# Map, Filter and Reduce (HOF)
1. MAP function: Apply a function on each item of an iterable element. map(func,iter)

In [12]:
map( lambda x:x*2, lst)

In [16]:
list(map( lambda x:x*2, lst))

[22, 28, 42, 46, 112, 156, 90, 58, 56]

In [17]:
list(map( lambda x:x%2==0, lst))

[False, True, False, False, True, True, False, False, True]

In [18]:
student = [{"name":'a', "state":"bc"},{"name":'b',"state":"cd"},{"name":'c',"state":"de"}]

In [19]:
list(map(lambda x:x['name'], student))

['a', 'b', 'c']

2. Filter Function: filter the iterable based on some condition.

In [21]:
list(filter(lambda x:x>50, lst))

[56, 78]

In [22]:
fruits = ['Apple', 'Orange', 'Guava', 'Mango']

In [23]:
list(filter(lambda x:'e' in x, fruits))

['Apple', 'Orange']

3. Reduce function: Reduce the list

In [24]:
import functools

In [31]:
L = [1,2,3,4,5,6,7]

In [27]:
functools.reduce(lambda x,y:x+y, L)

28

In [28]:
L_1 = [11,98,12,44,57,89,23,102]

In [30]:
functools.reduce(lambda x,y: x if x>y else y, L_1)

102

# List Comprehension
Using this you can create a list from another list.

In [46]:
L_double = [item*2 for item in L]

In [47]:
L_double

[2, 4, 6, 8, 10, 12, 14]

In [35]:
L_double = [item*2 for item in range(10)]
L_double

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
L_double = [item*2 for item in range(10) if item%2==0]
L_double

[0, 4, 8, 12, 16]

In [37]:
L_double = [item for item in fruits if 'e' in item] 
L_double

['Apple', 'Orange']

# Dictionary Comprehension

In [42]:
D = {"Name":"Madhu", "Gender":"Female", "Good":"1"}

In [43]:
D.items()

dict_items([('Name', 'Madhu'), ('Gender', 'Female'), ('Good', '1')])

In [45]:
D1 = { key:value for key,value in D.items() if len(value)>3 }
D1

{'Name': 'Madhu', 'Gender': 'Female'}

In [49]:
D2 = { item:item**2 for item in L_double  }
D2

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196}